/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

nav {
  display: inline-block;
  font-weight: 400;
/*  color: #fad6ab; */
  font-size: 13px;
/*  font-family: Oswald, sans-serif; */
  letter-spacing: 1px;
  padding: 0 3px
}

p {
  line-height: 2rem;
}


.maotimedia{
  background-color: rgba(33, 33, 33, 0.5);
  padding: 30px;
}

.sidenav-trigger {
  color: #FFFFFF;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
.parallax-container .section {
    width: 100%;
  }


  .image-stack::after {
      content: ' ';
      display: table;
      clear: both;
    }

    .image-stack__item--top {
        float: left;
        width: 75%;
        position: relative;
        z-index: 1; // tells the browser to make this image on top
    }

    .image-stack__item--bottom {
        float: right;
        width: 75%;
    }

  @supports (display: grid) {
    .image-stack {
      display: grid;
      position: relative; // imperative for the overlapping to work
      grid-template-columns: 2fr, 2fr, 2fr, 2fr;
    }

    .image-stack__item--bottom {
      grid-column: 3;
      grid-row: 3;
      width: 100%;
      padding-top: 0%;
      padding-left: 0%;
    }

    .image-stack__item--top {
      grid-row: 1;
      grid-column: 1;
      padding-top: 0%; // slightly arbitrary, keeps proportion once resized
      width: 100%;
    }
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #fdd835
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

/*stuff i added*/
@font-face {
    font-family: 'bombardierregular';
    src: url('../webfontkit/bombard_-webfont.woff2') format('woff2'),
         url('../webfontkit/bombard_-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montserratbold';
    src: url('../webfontkit/montserrat-bold-webfont.woff2') format('woff2'),
         url('../webfontkit/montserrat-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montserratregular';
    src: url('../webfontkit/montserrat-regular-webfont.woff2') format('woff2'),
         url('../webfontkit/montserrat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
/*"MOVEMENT AS ONE"*/
h1 {
  font-family: bombardierregular;
  letter-spacing: 7px;
  margin-top: 150px;
}

h5 {
  font-family: montserratbold;
}
/*NAV BAR*/
a {
  font-family: montserratbold;
    letter-spacing: 1.5px;
    color: white;
    border-color: white;
    border-radius: 2px;
}

a:hover{
  color: black;
  background-color: white

}

img {
  width: 100%;
  display: block;
}
